# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
tests/acceptance/output/

# production
build

# misc
.DS_Store
.env.development
npm-debug.log

#WEBSTORM
.idea/
