.ant-layout {
  background: #f8f9fb !important;
  overflow-x: auto !important;
}

.ant-layout-sider {
  font-family: 'Lato', sans-serif !important;
  background: #ffffff !important;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  flex: 0 0 240px !important;
  max-width: 240px !important;
  min-width: 240px !important;
  width: 240px !important;
}
