.text-editor {
  min-width: 800px;
}
.editor-header {
  min-height: 68px;
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: -15px -30px;
  display: flex;

  .match-width {
    width: 100%;
  }
  .ql-toolbar.ql-snow {
    border: none;
    box-sizing: border-box;
    padding: 8px;
  }
  .creator-container {
    margin-left: 10px;
    .creator-label {
      //font-family: Lato;
      font-size: 10px;
      font-weight: 300;
      letter-spacing: 0.3px;
      text-align: left;
      color: #a0a0a2;
    }
    .creator {
      //font-family: Lato;
      font-size: 12px;
      letter-spacing: 0.4px;
      text-align: left;
      color: #c2185b;
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
  #toolbar {
    margin: auto;
  }
  .actions {
    text-align: right;
    margin-left: auto;

    .save-btn {
      margin-right: 26px;
      height: 36px;
    }
    .close-icon {
      font-size: 24px;
      color: rgb(233, 234, 237);
      font-weight: bold;
      vertical-align: middle;
    }
    .close-icon:hover {
      cursor: pointer !important;
    }
  }

}


.quill {
  background-color: #fff;
  margin-top: 30px;
}

.document {
  background-color: #fff;
  padding: 20px 50px 30px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.28);
  border: solid 0.5px #cccccc;
  min-height: 900px;
  max-width: 936px;
  margin: 40px auto;

  .title {
    //font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
    margin-bottom: 6px;
  }

  .input-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.4px;
    height: 42px;
    border: none;
    // border-bottom: 1px solid #d9d9d9;
  }

  .subtitle {
    //font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a0a0a2;
  }

  .tags-container {
    margin: 20px 0 16px 0px;
  }

  .separator {
    margin-left: -50px;
    margin-right: -50px;
    border-bottom: solid 1px #e9e9e9;
  }

  .ql-container.ql-snow {
    border: none;
  }
}
