.editor-header {
  height: 68px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: -15px -15px 10px -15px;
  display: flex;

  .ql-toolbar.ql-snow {
    border: none;
    box-sizing: border-box;
    padding: 8px;
  }
}


.quill {
  background-color: #fff;
  margin: 40px;
}
